input {
  border-radius: 8px;
  border-color: #646cff;
  font-size: 20px;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.flex-container {
  display: flex;
  height: 10vh;
  flex-direction: column;
}

.text-bold {
  font-weight: 500;
  margin-left: 15px;
  align-self: start;
}

.autocomplete {
  background-color: #646cff;
  cursor: pointer;
  display: inline-flex;
  align-self: start;
  align-items: center;
  margin: 4px;
  border-radius: 6px;
  font-size: 12px;
  line-height: 16px;
  padding-left: 8px;
  padding-right: 8px;
}
